APP_NAME=AI-Assisted Security Early Warning System

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=security_ews
DB_USER=root
DB_PASSWORD=

RAW_DATA_PATH=data/raw/Africa_aggregated_data_up_to_week_of-2026-08-08.xlsx